.header-blue {
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
}

.header-blue .hero h1 {
  color: #fff;
  font-size: 2.5em;
  padding-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .header-blue .hero h1 {
    padding-top: 25px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}

#search {
  width: 50%;
  height: 3em;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding-left: 15px;
  transition: all 0.3s;
  color: white;
  margin-bottom: 50px;
}

#search:hover,
#search:active,
#search:focus {
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  color: black;
}

#search:hover::placeholder,
#search:active::placeholder,
#search:focus::placeholder {
  color: black;
}

#search::placeholder {
  color: white;
}
